/* break through tech colors:
neon green: #C1F325
green: #81D742
dark blue: #092D45

*/
nav {
    background-color: #FFFFFF; /* Navy Blue from Breakthrough Tech */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 20px; /* Adjust margin as needed */
}

nav ul li:last-child a {
    padding: 15px 35px;
    background-color: #092D45;
    color: #C1F325;
  }
nav a {
    color: #092D45;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url("hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .hero-content {
    text-align: center;
    color: white; /* Change to match background color */
  }

  .hero-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

body {
    font-family: 'Ubuntu', sans-serif;
    color: #092D45;
    font-weight: bold;
}